.toolbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.recipe-info {
	display: flex;
	flex-direction: column;
}

.chip-wrapper {
	display: flex;
	gap: 0.5rem;
	margin: -0.3rem 0 0.5rem;
}

.instructions li {
	margin-bottom: 1.2rem;
}

.instructions li::marker {
	font-size: 180%;
	font-weight: 500;
}

@media screen and (min-width: 900px) {
	.ingredient-list {
		width: clamp(10rem, 50%, 24rem);
	}
}
