.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	gap: 2rem;
}

.card {
	cursor: pointer;
}

.chip-wrapper {
	display: flex;
	gap: 0.5rem;
	padding: 0.3rem 0 0.5rem;
}
