.wrapper {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
	gap: 2rem;
}

.card {
	position: relative;
}

.card:focus-within {
	outline: 5px auto Highlight;
	outline: 5px auto -webkit-focus-ring-color;
}

.card a:focus {
	outline: none;
}

.card a::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}

.chip-wrapper {
	display: flex;
	gap: 0.5rem;
	padding: 0.3rem 0 0.5rem;
}
